name: propzy

services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis
    volumes:
      - ..:/app
    env_file:
      - ../.env
    restart: "no"
    tty: true
    stdin_open: true
    networks:
      - propzy_network

  db:
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    env_file:
      - ../.env
    environment:
      - POSTGRES_USER=${DB_USER:-propzy}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-propzy123}
      - POSTGRES_DB=${DB_NAME:-propzy}
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: "no"
    networks:
      - propzy_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-propzy}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.4-alpine
    ports:
      - "6379:6379"
    env_file:
      - ../.env
    command: sh -c 'redis-server --requirepass "$${REDIS_PASSWORD:-redis123}"'
    volumes:
      - redis_data:/data
    restart: "no"
    networks:
      - propzy_network
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:
  redis_data:

networks:
  propzy_network:
    driver: bridge
