{% extends "base/public_base.html" %}
{% load i18n %}

{% block title %}{% trans "Propzy - Sistema de Gestão Imobiliária" %}{% endblock %}

{% block main_content %}
<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h1 class="display-4 fw-bold">{% trans "Propzy" %}</h1>
            <p class="lead">{% trans "Sistema completo de gestão para imobiliárias e corretores" %}</p>
            <a href="#" class="btn btn-primary btn-lg">{% trans "Começar Agora" %}</a>
        </div>
        <div class="col-lg-6">
            <img src="https://via.placeholder.com/600x400" class="img-fluid" alt="Propzy">
        </div>
    </div>
</div>
{% endblock %}



